body{margin:0}
h1{font-size:36px;margin:12px}
h2{font-size:30px;margin:10px}
h3{font-size:24px;margin:8px}
h4{font-size:20px;margin:6px}
h5{font-size:16px;margin:4px}
h6{font-size:15px;margin:3px}
h7,span{font-size:12px;margin:1px}
h1,h2,h3,h4,h5,h6,h7,span{
	font-family: "noto sans", "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
}

body {
    /* min-width: 1300px; */
    margin: 0 auto;
    background-color: rgb(240,255,255);
    background-color: rgb(255,255,255);
    background-color: rgb(250,255,255);
}

div, img, a{
    border-style: solid;
    border-width: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgba(0, 90, 180, 0.8);
}
a:hover {
    color: rgba(0, 50, 150, 0.9);
}

ul {
    list-style-type: none;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.main-menu-container {
	clear: both;
	overflow: auto;
	/* position: sticky; */
	/* position: -webkit-sticky; /* Safari */
	top: 0px;
	z-index: 3;
}

.main-menu {
	width: 60%;
	margin: 20px 5% 0px 25%;
	float: right;
	overflow: auto;
	background-color: rgb(230,230,230);
	border-radius: 8px;
	transition: all 0.1s ease;
}

.main-menu-item {
	width: 20%;
	padding: 7px 1% 7px 1%;
	float: left;
	text-align: center;
	vertical-align: middle;
	color: rgb(255,255,255);
	background-color: rgb(230,230,230);
	border-radius: 8px;
}

.main-menu-item:hover {
	background-color: rgb(200,200,200);
}

.menu-item-text {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
}

.container {
    width: 80%;
    min-height: 500px;
    display: block;
    overflow: auto;
    float: left;
    margin: 10px 5% 10px 5%;
    padding: 20px;
    /*border-width: 0;*/
}

.container-header {
    width: 100%;
    padding: 5px 5% 5px 0%;
    display: block;
    /*border-width: 0;*/
}

.container-main {
    width: 100%;
    display: block;
    overflow: auto;
    /*border-width: 0;*/
}

.container-photo {
    width: 30%;
    display: block;
    overflow: auto;
    float: left;
    margin: 10px 0% 10px 5%;
    padding: 0px;
    /*border-width: 0;*/
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /*border-width: 0;*/
}

.wrapper-photo {
    padding: 20px 20% 20px 20%;
    /*border-width: 0;*/
}

.wrapper-links {
    width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px 20% 0px 20%;
    /*border-width: 0;*/
}

.container-description {
    width: 60%;
    min-height: 500px;
    display: block;
    overflow: auto;
    float: left;
    margin: 10px 5% 10px 0%;
    padding: 20px;
    /*border-width: 0;*/
}

.header {
    width: 100%;
    padding: 0px 5% 0px 0%;
    display: block;
    /*border-width: 0;*/
}

.header h5 {
    font-weight: 600;
    padding: 5px 0% 0px 0%;
    color: rgba(0, 90, 180, 0.8);
}

.wrapper-description {
    width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px 5% 0px 0%;
    /*border-width: 0;*/
}

.wrapper-teaching {
    width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px 5% 15px 0%;
    /*border-width: 0;*/
}

.wrapper-research {
    width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px 5% 15px 0%;
    /*border-width: 0;*/
}

.wrapper-cv {
    width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px 5% 15px 0%;
    /*border-width: 0;*/
}

.wrapper-teaching h6 p {
    margin: 5px;
}

.wrapper-code h6 p a {
    color: rgba(0, 0, 0, 0.8);
}
.course-name{
    font-weight: 600;
}

.bottom {
    width: 100%;
    display: block;
    clear: both;
    padding: 20px 50px;
    border: none;
    border-top: solid;
    border-width: 1px;
    /* background-color: rgb(240,240,240); */
}
